.p_1{
    background-color: yellow;
    width: 500px;
    }
p{
    text-decoration: none;
    font-size: 18px;
}    
.p_3{
    background-color: fuchsia;
    width: 500px;
}
#p_4{
    font-style: italic;
}