body {
    background-color: tomato;
    font-family: sans-serif;
}
.container {
    margin: 0 auto;
    width: 600px;
    border: 1px solid #000;
}
ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}
li {
    display: inline-block;
    margin-left: -5px;
}
ul li:first-child a {
    border-radius: 15px 0 0 15px;
}
ul li:last-child a {
    border-radius: 0 15px 15px 0;
} 
a {
    background-color: #d4553e;
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    display: inline-block;
}
li a :hover {
    background-color: #c04833;
}
h1 {
    text-align: center;
    color: #fff;
    font-size: 64px;
}
.border {
    border-bottom: 6px dotted;
    background-color: #c04833;
    width: 450px;
    margin: 0 auto;
}
p {
    color: #fff;
    font-size: 32px;
    width: 300px;
    margin: 20px auto;
    text-align: center;
}
.btn {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    box-shadow: 2px 2px 1px 2px #c04833;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 12px 0;
}

.box {
    margin-top: 20px;
    text-align: center;
}
.box a {
    text-align: center;
}
.container {
    position: relative;
}
img {
    position: absolute;
}
img:first-of-type {
    bottom: -0px;
    left: -2px;
}
img:last-of-type {
    bottom: -120px;
    right: -100px;
    transform: scaleX(-1);
}