body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header,
section,
footer {
    padding: 40px 0;
}

header {
    /* border: 1px solid red; */
    background-color: #6451d5;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.header-top {
    /* border: 2px solid yellow; */
}

.header-top img,
.header-nav {
    /* border: 2px solid #fff; */
}
.header-top img {
    width: 150px;
}

.header-nav {
    display: inline-blocks;
    list-style: none;
    margin-left: 300px;
    vertical-align: 30px;
}

.header-nav li {
    /* border: 2px solid blue; */
    display: inline-block;
    margin-right: 20px;
}

.header-nav a {
    /* border: 2px solid red; */
    color: #fff;
    text-decoration: none;
}

.header-nav a:hover, .footer-right a:hover {
    text-decoration: underline;
    color: #fff;
}

.header-nav a:active, 
.footer-right a:active {
   opacity: 0.5;
   text-decoration: none;
}

.header-nav li:last-child {
    margin-right: 0;
} 
.promo {
    margin-top: 80px;
    /* border: 2px solid red; */
}
.promo-left, .promo-right {
    /* border: 1px solid yellow; */
    display: inline-block;
}
.promo-left {
    width: 330px;
    vertical-align: top;
}
.promo-left h1 {
    color: #fff;
}
.promo-left p, .footer-right ul a {
    color: rgba(255,255,255,0.6);
    line-height: 26px;
    margin-top: 35px;
    margin-bottom: 40px;
}
.btn {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #382d38;
    display: inline-block;
    padding: 20px 65px;
}
.btn:active {
    color: rgba(255, 255, 255, 0.6);
}
.promo-right {
    margin-left: 140px;
}
.promo-right img {
    width: 460px;
}
.features {
    border: 2px solid green;
    background-color: #eee;
}
.features-item {
    /* border: 2px solid green; */
    display: inline-block;
    width: 300px;
    text-align: center;
    margin-right: 15px;
}
.features-item:last-child {
    margin-right: 0;
}
.features-item p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.text {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bolt;
    font-size: 14px;
}
.features-item.text {
    margin: 0;
}
.study table {
    margin-top: 30px;
    width: ;
}
.study table, 
.study td {
    border: 1.5px solid gray;
    border-collapse: collapse;
}

.study table tr:first-child {
    background-color: #eee;
}
.study table td {
    padding: 20px 30px 20px 20px;
}
.study table tr:first-child td:first-child {
    width: 25%;
}

.study table tr:first-child td:nth-child() {
    width: 25%;
}

.study table tr:nth-child(2) td:first-child,
.study table tr:nth-child(2) td:nth-child(2),
.study table tr:nth-child(3) td:nth-child(1),
.study table tr:nth-child(3) td:nth-child(2) {
    vertical-align: top;    
}

.feedback {
    background-color: #eee;
}

.feedback form {
    display: inline-block;
    width: 60%;
}

.feedback table {
    width: 100%;
}

.feedback td {
       
}

.feedback table tr:first-child td:first-child {
    width:10%;
    padding-right: 10px;
}

.feedback table tr:first-child td:first-child, 
.feedback table tr:nth-child(2) td:first-child {
    text-align: right;
    padding-right: 10px;
}
.feedback table tr:nth-child(3) td:first-child {
    text-align: right;
    vertical-align: top;
    padding-top: 10px;
    padding-right: 10px;
}

.feedback input[type="text"], 
.feedback textarea {
    width: 100%;
    /* border: 1.5px solid grey; */
    padding: 10px 15px;
}
.feedback textarea {
    height: 70px;
}

.feedback input[type="radio"] {
    margin-right: 15px;
} 

.feedback label[for="men"] {
    margin-right: 50px;
}
.feedback .btn {
    width: 100%;
    text-align: center;
}
.feedback td {
    padding-bottom: 20px;
}

.feedback-info {
    margin-left: 50px;
    display: inline-block;
    width: 28%;
    vertical-align: top;
}

.feedback-info p:nth-of-type(1) {
    margin-bottom: 20px;
}

.feedback-info p:nth-of-type(2) {
    margin-bottom: 20px;
}
.feedback-info p:nth-of-type(3) {
    margin-bottom: 50px;
}

.feedback-info .text span {
    color: #000;
} 

footer {
    background-color: #2a2546;
}     

.footer-left {
    display: inline-block;
    width: 228px;
}

.footer-left img {
    width: 150px;
    margin-bottom: 70px;
}

.footer-left p {
    color: #fff;
}

.footer-right {
    display: inline-block;
    vertical-align: top;
    margin-left: 120px;
}

.footer-right ul {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

.footer-right ul:last-child {
    margin-right: 0;
}
.footer-right ul a {
    text-decoration: none;

}
.footer-right ul li {
    margin-bottom: 20px;
}

.footer-right ul li:first-child a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}