/* body{
    background-color: salmon; 
}
h1{
    barder:1px solid #000;
}
bodi{
    background-color: #000;
} */
body{
    margin-top: 0;
    padding: 0;
}
h1{
    border:1px solid #000;
}
.head1{
    margin-bottom: 20px;
    padding: 20px;
}
.head2{
    margin-top: 10px;
    margin-left: 50px;
}
span{
    border: 1px solid #000;
    background-color: pink;
    width: 80px;
    height: 1000px;
}
.span1{
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.span2{
    margin-left: 20px;
    padding: 5px;
}
.box1,
.box>div{
    width: 50px;
    head: 50px;
    border: 1px solid #000;
}